<html>
<head>
<link href="home/home.css" rel="stylesheet" media="screen">
<script src="qrc:///qtwebchannel/qwebchannel.js"></script>
</head>

<!--BODY-->
<body>

        <!---New Files-->
        <div class="panel" id="new_files">
            <span class="section-title" style="font-size:1.3rem;">Create New  </span><br>
            {{new_files}}
            <br>
            {{new_editors}}
        </div>

<div class="main">
    <div class="centered" style="vertical-align:top;">
    
        <!--<br>-->
        <div id="logo" style="text-align:left;vertical-align:bottom">
            
            <span id="scope-text"><img alt="" src="../style/scope.png" height="40px" style="vertical-align:bottom;"/> Scope</span> <span id="version"> IDE {{version}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="float:right;margin-top:22px;vertical-align:bottom;">
            <a onclick="route('filebrowser')"><div class="toolbutton top_buttons"><img alt="" src="../style/img/file_open.png" /> Open File</div>
            </a><a onclick="route('settings')"><div class="toolbutton top_buttons"><img alt="" src="../style/img/settings.png" class="file-icon" /> Settings</div>
            </a><div class="toolbutton top_buttons" onclick="toggleDiv('docs')" style="cursor:pointer;"><img alt="" src="../style/img/help.png" class="file-icon" style="vertical-align:top;padding-top:3px;" /> Help <span style="height:14px;display:inline-block;vertical-align:bottom;">&caron;</span></div>
            </span>
            <br>
        </div>
        <br><br>
        

        
        <!---Workspaces-->
        <div class="panel2" id="workspaces" style="vertical-align:top;">
            <span class="section-title">Workspaces</span>
            <a class="newfile" 
                href2="workspace:new" 
                onclick="route('workspace:new')"
                style="display:inline-block;background:rgba(50,50,50,0.5);padding:4px;border:0;padding-right:16px;border-radius:4px;" 
                title="New Workspace"><img alt="" src="../style/img/new.png" style="height:22px;vertical-align:middle;margin-top:-2px;"/> new</a>
            <br><br>
            {{workspaces}}
        </div>
        
        <!---Help-->
        <div class="panel" id="docs">
            <!--<span class="section-title2">Documentation</span><br>-->
            <a href="../docs/quickstart.html"><div class="newfile"><img src="../style/img/bullet_blue.png"> Quickstart</div></a>
            <a href="../docs/index.html" id="l_show_about"><div class="newfile"><img src="../style/img/bullet_blue.png"> About</div></a>
            <a href="../docs/open_file.html"><div class="newfile"><img src="../style/img/bullet_blue.png"> Opening a File</div></a>
            <a href="../docs/editors.html"><div class="newfile"><img src="../style/img/bullet_blue.png"> Editors</div></a>
            <a href="../docs/keyboard_shortcuts.html"><div class="newfile"><img src="../style/img/bullet_blue.png"> Keyboard Shortcuts</div></a>
            <a href="../docs/plugins/index.html"><div class="newfile"><img src="../style/img/bullet_blue.png"> Plugins</div></a>
            <a onclick="toggleDiv('docs')" style="cursor:pointer;"><div class="newfile"><img src="../style/img/close.png"> close menu</div></a>
        </div>

        
    </div>
</div>

<script src="home/home.js"></script>

<script>
    // Setup WebChannel
    new QWebChannel(qt.webChannelTransport, function (channel) {
        window.pyhome = channel.objects.pyhandler;
    });

    function toggleDiv(id) {
        var div = document.getElementById(id);
        div.style.display = div.style.display == "none" ? "block" : "none";
    }
    
    function route(url) {
        window.pyhome.route(url)
    }
    
    document.getElementById('docs').style.display='none'
    document.body.style.backgroundImage = "url('{{bkd_img}}')"
</script>

</body></html>