<h1>Outline Plugin</h1>

<ul>
	<li>The Outline plugin outlines the code structure to help with organization</li>
	<li>Double click on outline text to goto that section of code</li>
	<li>Special comment formatting will add that comment into the outline as a header</li>
	<li>Utilizes existing spacing in code to format outline</li>
	<li>The Outline updates by one of the following methods
	<ul>
		<li>Saving the file</li>
		<li>Alt+O</li>
		<li>right click and select update</li>
		<li>(there is a setting in the plugins section to update in realtime: alwaysUpdate=1 )</li>
	</ul>
	</li>
	<li>The current visible code in the editor is highlighted</li>
</ul>

<h2>Current Supported languages</h2>

<ul>
	<li>Python</li>
	<li>JavaScript</li>
	<li>CSS</li>
	<li>HTML</li>
	<li>Markdown</li>
	<li>ini/config</li>
	<li>handlebars/mustache</li>
	<li>SQL</li>
</ul>

<h2>Comment Protocol</h2>
To add a comment to the outline, you typically add 3 dashes (---) after the comment character.

<ul>
	<li><strong>Python:</strong>&nbsp;#---Comment</li>
	<li><strong>JavaScript:</strong>&nbsp;//---Comment</li>
	<li><strong>CSS:</strong>&nbsp;/*---Comment*/</li>
	<li><strong>HTML:</strong>&nbsp;&lt;!---Comment--&gt;</li>
	<li><strong>Markdown:</strong>&nbsp;(not available)</li>
	<li><strong>ini/configobj</strong>&nbsp;#---Comment</li>
	<li><strong>Handlebars/Mustache:</strong>&nbsp;same comments as HTML</li>
	<li><strong>SQL:</strong>&nbsp;----</li>
</ul>

<h2>TODO Item</h2>
To add a TODO item to the outline, use the Comment Protocol above followed by <i>TODO</i> (capitilization does not matter, colon is optional)<br />
<br />
Example:
<pre>
<code class="language-python">#---TODO: Fix this</code></pre>

<h2>Special JavaScript Formats</h2>
Since JavaScript functions and objects can be created in special ways, there are a few custom comments to pull in functions that aren't picked up automatically
<ul>
    <li><code>//---f:</code> - will parse the next line as a function</li>
    <li><code>//---o:</code> - will parse the next line as an object</li>
</ul>

<h3>JS Function Example</h3>
In the following example, the create function would not normally get picked up by the outline, but by adding `//---f:` on the previous line, it will get picked up.
<pre><code class="language-javascript">class MyObject {
    //---f:
    create() {
...
</code></pre>

<h3>JS Object Example</h3>
In the following example, an object that would not normally get picked up by the outline, will.
<pre><code>//---o:
let MyObject = {
...
</code></pre>