<h1>Keyboard Shortcuts</h1>

<h2>General</h2>

<table border="1" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td><strong>Key</strong></td>
			<td><strong>Function</strong></td>
		</tr>
		<tr>
			<td>Ctrl + M</td>
			<td>Show main menu</td>
		</tr>
		<tr>
			<td>Ctrl + N</td>
			<td>Show new file menu</td>
		</tr>
		<tr>
			<td>Ctrl + 0</td>
			<td>Show file open dialog</td>
		</tr>
		<tr>
			<td>Ctrl + Tab</td>
			<td>Go to previously opened tabs</td>
		</tr>
		<tr>
			<td>Ctrl + Page Up</td>
			<td>Go to previous tab on list</td>
		</tr>
		<tr>
			<td>Ctrl + Page Down</td>
			<td>Go to next tab on list</td>
		</tr>
		<tr>
			<td><strong>F1</strong></td>
			<td><strong>Toggle the visibility of tab window</strong></td>
		</tr>
		<!--<tr>-->
		<!--	<td>Ctrl + `</td>-->
		<!--	<td>Toggle the visibility of tab bar (key is back tick)</td>-->
		<!--</tr>-->
		<tr>
			<td>F2</td>
			<td>Toggle the visibility of the left plugins</td>
		</tr>
		<tr>
			<td>Ctrl + F2</td>
			<td>Left plugins - cycle through the tabs</td>
		</tr>
		<tr>
			<td>F3</td>
			<td>Toggle the visibility of the right plugins</td>
		</tr>
		<tr>
			<td>F4</td>
			<td>Toggle the visibility of the bottom plugins</td>
		</tr>
		<tr>
			<td>Ctrl + F4</td>
			<td>Bottom Plugins - cycle through the bottom plugins</td>
		</tr>
		<tr>
			<td>F5</td>
			<td>Run</td>
		</tr>
		<tr>
			<td>Shift + F5</td>
			<td>Load the file to run but don't run yet</td>
		</tr>
		<tr>
			<td>F6</td>
			<td>Compile</td>
		</tr>
		<tr>
			<td>F8</td>
			<td>Show the home page</td>
		</tr>
		<tr>
			<td>F9</td>
			<td>Toggle to expand right plugin and hide editor</td>
		</tr>
		<tr>
			<td>F10</td>
			<td>Toggle Full Editor Mode - hide plugins and toolbar, but keep tabs</td>
		</tr>
		<tr>
			<td>F11</td>
			<td>Toggle Full Screen Mode - full screen and hide everything</td>
		</tr>
		<tr>
			<td>Alt + E</td>
			<td>Set the cursor focus on the editor</td>
		</tr>
		<tr>
			<td>Alt + F</td>
			<td>Toggle the Filebrowser, and focus (left plugin)</td>
		</tr>
		<tr>
			<td>Alt + O</td>
			<td>Toggle the Outline, refresh, and focus (left plugin)</td>
		</tr>
		<tr>
			<td>Alt + C</td>
			<td>Show the color picker</td>
		</tr>
	</tbody>
</table>

<h2>Tab Window</h2>
Keys when the tab indow is active.<br />
&nbsp;
<table border="1" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td><strong>Key</strong></td>
			<td><strong>Function</strong></td>
		</tr>
		<tr>
			<td>Arrows</td>
			<td>Move to other files listed</td>
		</tr>
		<tr>
			<td>Enter</td>
			<td>Select and open the current selected file</td>
		</tr>
		<tr>
			<td>Alt + Arrow</td>
			<td>Move between workspaces</td>
		</tr>
		<tr>
			<td>F1</td>
			<td>Hide the tab window</td>
		</tr>
		<tr>
			<td>Escape</td>
			<td>Hide the tab window</td>
		</tr>
	</tbody>
</table>
&nbsp;

<h2>Editor</h2>

<table border="1" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td><strong>Key</strong></td>
			<td><strong>Function</strong></td>
			<td><strong>Scintilla</strong></td>
			<td><strong>Ace</strong></td>
		</tr>
		<tr>
			<td>Tab</td>
			<td>Indent</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Shift + Tab</td>
			<td>Unindent</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl &nbsp;+ A</td>
			<td>Select All</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl &nbsp;+ C</td>
			<td>Copy</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + D</td>
			<td>Duplicate current/selected line(s)</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + Delete</td>
			<td>Remove selected rows</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + E</td>
			<td>Toggle Line Comment</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + F</td>
			<td>Find</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + G</td>
			<td>Goto</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + P</td>
			<td>Insert print/console.log</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + R</td>
			<td>Replace</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + S</td>
			<td>Save</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + V</td>
			<td>Paste</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + W</td>
			<td>Toggle Word Wrap</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + X</td>
			<td>Cut</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + Y</td>
			<td>Redo</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + Z</td>
			<td>Undo</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + +</td>
			<td>Zoom In</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + -</td>
			<td>Zoom Out</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + 0</td>
			<td>Reset Zoom</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Ctrl + (space)</td>
			<td>Show autocomplete menu</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Alt + Down</td>
			<td>Move current selection down a line</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Alt + Up</td>
			<td>Move current selection up a line</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Alt + S</td>
			<td>Show line and row numbers, check syntax (Python)</td>
			<td>x</td>
			<td>x</td>
		</tr>
		<tr>
			<td>Alt + Z</td>
			<td>Toggle Writer Mode</td>
			<td>&nbsp;</td>
			<td>x</td>
		</tr>
	</tbody>
</table>

<p><strong><em>Notes</em></strong></p>

<ul>
	<li><a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts">More Ace Editor Shortcuts</a></li>
	<li><em>The shortcuts might not work with every editor</em></li>
</ul>
