<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scope Documentation</title>
    
    <link href="{{fld}}docs.css" rel="stylesheet" media="screen">
    <!--<script src="jquery.js"></script>-->
    
</head>
<body>
    
    <div id="header">
        <a href="home:"><img src="{{fld}}/img/home.png" style="height:24px;"></a>
        <a href="{{fld}}index.html" id="l_show_about">Scope Documentation</a>
    </div>
    
    <div id="contents">
        {{contents}}
    </div>
    
</body>
</html>