<h2>Scintilla Editor Settings</h2>

<ul>
	<li><strong>autocomplete</strong>

	<ul>
		<li>1 = yes autocomplete based on current text in the editor</li>
		<li>0 = no</li>
	</ul>
	</li>
	<li><strong>showWhitespace</strong>
	<ul>
		<li>1 = show whitespace characters</li>
		<li>0 = don&#39;t show whitespace characters</li>
	</ul>
	</li>
	<li><strong>wordwrap</strong>
	<ul>
		<li>1 = wrap the text by default</li>
		<li>0 = don&#39;t wrap the text by default</li>
	</ul>
	</li>
	<li><strong>theme</strong>
	<ul>
		<li>dark = the dark default syntax highlighting&nbsp;theme (for Python only)</li>
		<li>light = using a white background syntax highlighting theme</li>
	</ul>
	</li>
	<li><strong>showFoldStyle</strong>
	<ul>
		<li>0 = do not show code folding</li>
		<li>1 = show box tree folding next to line numbers</li>
	</ul>
	</li>
	<li><strong>fontSize</strong>
	<ul>
		<li>10&nbsp;(default) Enter the font size&nbsp;in points</li>
	</ul>
	</li>
</ul>

<hr />
<h2>Ace Editor Settings</h2>

<ul>
	<li><strong>showWhitespace</strong>

	<ul>
		<li>1 = show whitespace characters</li>
		<li>0 = don&#39;t show whitespace characters</li>
	</ul>
	</li>
	<li><strong>newLineMode</strong>
	<ul>
		<li>auto = detect if windows or unix mode</li>
		<li>unix = use \n</li>
		<li>windows = use \r\n</li>
	</ul>
	</li>
	<li><strong>wordwrap</strong>
	<ul>
		<li>1 = wrap the text by default</li>
		<li>0 = don&#39;t wrap the text by default</li>
	</ul>
	</li>
	<li><strong>wrapBehavioursEnabled</strong> -&nbsp;Specifies whether to use wrapping behaviors or not, i.e. automatically wrapping the selection with characters such as brackets when such a character is typed in.
	<ul>
		<li>1 = yes</li>
		<li>0 = no</li>
	</ul>
	</li>
	<li><strong>behavioursEnabled</strong> -&nbsp;Specifies whether to use behaviors or not. &quot;Behaviors&quot; in this case is the auto-pairing of special characters, like quotation marks, parenthesis, or brackets.
	<ul>
		<li>1 = yes</li>
		<li>0 = no</li>
	</ul>
	</li>
	<li><strong>theme</strong> - the syntax highlighting theme
	<ul>
		<li>there are over 20 themes.</li>
	</ul>
	</li>
	<li><strong>fontSize</strong>
	<ul>
		<li>12 (default) Enter the font size in pixels</li>
	</ul>
	</li>
	<li><strong>options</strong> - any other Ace options can be specified here
	<ul>
		<li>{} - (default) Enter key-values that are ace options (ex: {&quot;scrollSpeed&quot;:2} )</li>
		<li>options can be found here:&nbsp;https://github.com/ajaxorg/ace/wiki/Configuring-Ace</li>
	</ul>
	</li>
</ul>
