<h2>Plugins</h2>

<ul>
	<li>Scope comes installed with some plugins by default</li>
</ul>

<h3>Enabling/Disabling Plugins</h3>

<ul>
	<li>Enable/Disable plugins by double clicking in the Enabled column
	<ul>
		<li>Y = enabled</li>
		<li>blank = disabled</li>
	</ul>
	</li>
	<li>Plugins will attempt to load when toggled to enabled, but a restart may be needed to fully load the plugin</li>
	<li>Disabling a plugin will not take affect until restarting Scope</li>
</ul>

<h3>Plugin Settings</h3>

<ul>
	<li>Click on the plugin name to view any plugin specific settings below the plugin list</li>
	<li>The plugin settings are in a json format</li>
	<li>Be sure to click <strong>Save</strong> after modifying the plugins</li>
</ul>

<h3>Adding Plugins</h3>

<ul>
	<li>Plugins can installed by using the Install buttons:
	<ul>
		<li><strong>File</strong> - a zip file on your computer</li>
		<li><strong>URL</strong> - a url to a zip file</li>
		<li><strong>Manual</strong> - copy the plugin folder to <code>&lt;scope&gt;/plugins</code> then add with this button</li>
	</ul>
	</li>
	<li>For the File and URL methods, the plugins must be zipped</li>
	<li>Plugins must be in a particular format to actually get loaded
	<ul>
		<li>See <code>&lt;scope&gt;/plugins/_template</code> for a base to start with</li>
		<li>The information in plugin.json is required to be loaded</li>
	</ul>
	</li>
</ul>

<h3>Removing a Plugin</h3>

<ul>
	<li>To remove a plugin from the list, click on the plugin and then press the delete key.</li>
</ul>
